<div class="col-sm-8 col-sm-offset-2">

<h1> HI! This is our store.</h1>
<h3> Products available:</h3>
<ul>
  {{#each model as |product|}}
    {{product-tile product=product update="update" destroyProduct="destroyProduct"}}
  {{/each}}
</ul>

{{new-product save2="save3"}}
</div>
<div class="col-xs-6 col-sm-4 col-md-2 pull-right">
{{display-cart}}
</div>
<hr>
